
/*----CSS:ESTILOS----*/
body{
    background: color #ff5fbf;
    color:#000000;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: white;
    color: #000000;
    text-align: center;
    padding: 30px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1{
    margin: 0;
    font-size: 2.55rem;
}
header p{
    margin: 0; 
    font-size: 1.5rem;
}
 header.imcg img{
    width: 400px;
    height: auto;
    margin-right: 20px;
 }
 nav ul{
    list-style: none;
    background-color: #ff8dbd;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
 }
 nav ul li{
    padding: 14px 20px;
 }
 nav ul li a{
    color: #0a0a0a;
    text-decoration: none;
    font-weight: bold;
 }
 main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 20px;
    gap: 20px;
 }
.juegosp{
 background-color: #ff8dbd;
 border: #ff5fbf;
 border-radius: 10px;
 padding: 20px;
 max-width: 400px;
 box-shadow: 0 4px 8x rgba(0,0,0,0.1);
 transition: tranform 0.3s ease, box-shadow 0.3s ease;

 }
 .juegos:hover{
    transform: scale(1.04);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
 }
.juegosp img{
    width: 100%;
    height: auto;
    border-radius:10px 10px 0 ;
    margin-bottom: 15px;
}
.juegos h3{
    color: #ff8dbd;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}
.principal{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}


/*----Css:ESTILO----*/
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #cc60a1;
}
header{
    background:#ff5fbf ;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    font-size: 24px;
}
nav{
    background-color: #ff8dbd;
}
nav a {
flex: 1;
padding: 14px;
color: #ff5fbf;
text-align: center;
text-decoration: none;
}
nav a:hover{
    background:#d10580
}
.cotenido{
    padding: 20px;
}
.boton{
    background: #f1f1f1;
    border: none;
    padding: 10px 20px;
    color: #000000;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}
.boton:hover{
    background: #ff5fbf;
}
